@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_gv05rwn5ar9.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_gv05rwn5ar9.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_gv05rwn5ar9.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_gv05rwn5ar9.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_gv05rwn5ar9.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_gv05rwn5ar9.svg#杨任东竹石体-Bold') format('svg'); /* iOS 4.1- */
}
body {
  background-color:#000;
  background-image:radial-gradient(#303391, #000);
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment:fixed; 
  color:#fff;
  text-align:center;
}

#rotate-words {
  max-width:400px;
  margin:auto;
  padding:20% 0;
  font-size:2.2em;
  text-transform:uppercase;
  font-family: 'webfont', sans-serif;
}

#rotate-words span {
  display:block;
  height:50px;
  font-size:.7em;
  text-transform:lowercase;
  opacity:.8;
  font-family: 'webfont', sans-serif;
}

#rotate-words div {
 position:absolute;
 opacity:0;
 overflow:hidden;
 left:10vw;
 width:80vw;
 line-height:1.2em;
 animation: rotate-word 32s linear infinite 0s;
}

@keyframes rotate-word {
    0% { opacity: 0;  transform: translateX(0);filter:blur(10px);transform:scale(1.2)}
    3% { opacity: 1;  transform: translateX(0);filter:blur(0px);transform:scale(.9)}
    12% { opacity: 1; transform: translateX(0);filter:blur(0px);transform:scale(1)}
    16% { opacity: 0; transform: translateX(0);filter:blur(10px);transform:scale(1.2)}
    76% { opacity: 1; transform: translateX(0);filter:blur(10px);transform:scale(1.2)}
    80% { opacity: 1}
    100% { opacity: 1}
}

#rotate-words div:nth-child(2) { animation-delay: 4s}